@font-face {
    font-family: 'Philosopher';
    src: url(./fonts/Philosopher-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Philosopher';
    font-size: 20px;
    color: #222822;
    background-color: #DFFFDF;
}
a {
    text-decoration: none;
    color: #222822;
}
/* hover */
a:hover {
    color: #A85463;
}
.container {
    max-width: 1182px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    font-family: 'Philosopher';
    font-size: 20px;
    padding: 12px 30px;
    cursor: pointer;
    text-align: center;
}
.button--primary {
    background: #FFFFFF;
    border: 1px solid #768976;
    border-radius: 20px;
    color: #A85463;
}
.title {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center
}
/* hover */
.button--primary:hover {
    background: #98B198;
    border: 1px solid #768976;
    color: #fff;
}

/* section header */
.header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo-header {
    cursor: pointer;
}
.header-nav__item {
    margin-right: 40px;
}

/* section promo */
.promo {
    padding-top: 65px;
    padding-bottom: 85px;
}
.promo-container {
    background: #FFFFFF;
    border-radius: 20px;
}
.promo-desc {
    margin-left: 50px;
}
.promo-img {
    margin-right: 10px;
}
.discount-promo {
    display: flex;
    margin-top: 40px;
}
.span-promo {
    color: #BE6E7D;
    font-weight: bold;
    margin-right: 30px;
}
.text-promo {
    color: #768976;
    font-weight: bold;
}

/* popular */
.popular {
    padding-bottom: 100px;
}
.popular-cards {
    margin-top: 107px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.popular-card {
    width: 300px;
    height: 350px;
    background: #cbefcb;
    border-radius: 20px;
    margin-bottom: 50px;
}




