@font-face {
    font-family: 'Philosopher';
    src: url(./fonts/Philosopher-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Philosopher';
    font-size: 20px;
    color: #222822;
    background-color: #eaf3ea;;
}
a {
    text-decoration: none;
    color: #222822;
}
/* hover */
a:hover {
    color: #A85463;
}
.container {
    max-width: 1182px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    font-family: 'Philosopher';
    font-size: 20px;
    padding: 12px 30px;
    cursor: pointer;
    text-align: center;
}
.button--primary {
    background: #FFFFFF;
    border: 1px solid #768976;
    border-radius: 20px;
    color: #A85463;
}
.button--secondary {
    background: #98B198;
    border: 1px solid #768976;
    color: #fff;
    border-radius: 20px;
}
.title {
    font-size: 50px;
    line-height: 56px;
    font-weight: bold;
    display: flex;
    justify-content: center
}
.title-white {
    color: #F5F5F5;
}
/* hover */
.button--primary:hover {
    background: #98B198;
    border: 1px solid #768976;
    color: #fff;
}
.button--secondary:hover {
    background: #FFFFFF;
    border: 1px solid #768976;
    color: #A85463;
}

/* section header */
.header {
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo-header {
    cursor: pointer;
}
.header-nav__item {
    margin-right: 40px;
}

/* section promo */
.promo {
    padding-top: 65px;
    padding-bottom: 85px;
}
.promo-container {
    background: #FFFFFF;
    border-radius: 20px;
}
.promo-desc {
    margin-left: 50px;
}
.promo-img {
    margin-right: 10px;
}
.discount-promo {
    display: flex;
    margin-top: 40px;
}
.span-promo {
    color: #BE6E7D;
    font-weight: bold;
    margin-right: 30px;
}
.text-promo {
    color: #768976;
    font-weight: bold;
}

/* section popular */
.popular {
    padding-bottom: 100px;
}
.popular-cards {
    margin-top: 107px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.popular-card {
    width: 300px;
    height: 350px;
    background: #cbefcb;
    border-radius: 20px;
    margin-bottom: 50px;
}
/* section free */
.free {
    padding-bottom: 100px;
}
.free-container {
    background: #FFFFFF;
    border-radius: 20px;
}
.title-free {
    padding-top: 35px;
    padding-bottom: 52px;
    font-size: 40px;
    line-height: 45px;
}
.free-buttons {
    display: flex;
    max-width: 350px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.button-free {
    margin-bottom: 25px;
}

/* section compositions */
.compositions {
    padding-top: 85px;
    padding-bottom: 80px;
    background: #A3B0A3;
}
.compositions-title {
    margin-bottom: 114px;
}
.compositions-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.compositions-card {
    width: 478px;
    height: 350px;
    background: #dee6de;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

/* section mailing */
.mailing {
    padding-bottom: 100px;
    background: #7C8D7C;
}
.mailing-title {
    padding-top: 80px;
    margin-bottom: 85px;
}
.mailing-form {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 177px;
}
.mailing-form::after {
    content: '';
    position: absolute;
    background-image: url(./img/pngegg\(3\)\ 1.png);
    width: 200px;
    height: 200px;
    right: 0;
    bottom: -44px;
}
.input-mailing {
    background: none;
    border-bottom: #2f352f;
    width: 400px;
    height: 2px;
    margin-bottom: 40px;
}
.mailing-container {
    max-width: 751px;;
    background: #F5F5F5;
    border-radius: 20px;
}
.label-mailing {
    font-size: 30px;
    line-height: 34px;
    color: rgba(118, 137, 118, 0.39);
    display: flex;
}
.button-mailing {
    width: 234px;
    height: 50px;
    margin-top: 10px;
    margin-left: 75px;
}

/* section footer */
.footer {
    background: #4C574C;
    padding-top: 25px;
    padding-bottom: 25px;
}
.desc-footer {
    font-size: 25px;
    line-height: 28px;
    color: #FFFFFF;
}
.desc-footer2 {
    margin-top: 17px;
}
.connection-footer {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}









